# Don't delete, use for testing!
bard__sample_default_config = default-config

# Use memory by default in the tests locally
bard__dimension_backend = memory

# Data Cache strategy, whose value is one of the following
# 1. ETag
# 2. LocalSignature (cache V2)
# 3. Ttl (cache V1)
# 4. NoCache
bard__query_response_caching_strategy = LocalSignature

bard__druid_coordinator_metadata_enabled = true

# Default the timeout to 10 minutes, in milliseconds
bard__druid_request_timeout = 600000
