<settings>
    <profiles>
        <profile>
            <id>localMirror</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>bintray-yahoo-maven</id>
                    <name>bintray</name>
                    <url>http://yahoo.bintray.com/maven</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
